.card.card-cascade.narrower.pt-0.light-1
  .view.view-cascade.gradient-card-header.indigo.narrower.py-3.mx-4.d-flex.justify-content-center.align-items-center
    %h5.center.mt-2
      %strong
        -# = t("tools.index.info")
        cambiar estado
  .card-body
    .row
      .col-12
        = render "comment_form", tool: tool
