.feature-section
  .container
    %h3.my-5.text-center
      =t("home.index.title_8")
    .row.features-small.mt-5.justify-content-md-center
      .col-xl-5.col-lg-6{"data-aos" => "fade-right", "data-aos-duration" => '1500'}
        -# <!--Grid row-->
        .row
          .col-2
            %i.fa.fa-street-view.fa-2x.mb-1{"aria-hidden" => "true"}
          .col-10.mb-2.pl-3
            %h5.feature-title.font-bold.mb-1
              =t("home.index.geo")
            %p.grey-text.mt-2
              =t("home.index.geo_1")
      .col-xl-5.col-lg-6{"data-aos" => "fade-left", "data-aos-duration" => '1500'}
        -# <!--Grid row-->
        .row
          .col-2
            %i.fa.fa-clock-o.fa-2x.mb-1{"aria-hidden" => "true"}
          .col-10.mb-2.pl-3
            %h5.feature-title.font-bold.mb-1
              =t("home.index.time")
            %p.grey-text.mt-2
              =t("home.index.time_1")
      .col-xl-5.col-lg-6{"data-aos" => "fade-right", "data-aos-duration" => '1500'}
        -# <!--Grid row-->
        .row
          .col-2
            %i.material-icons.md-36 assignment_turned_in
          .col-10.mb-2.pl-3
            %h5.feature-title.font-bold.mb-1
              =t("home.index.work_orders")
            %p.grey-text.mt-2
              =t("home.index.work_orders_1")
      .col-xl-5.col-lg-6{"data-aos" => "fade-left", "data-aos-duration" => '1500'}
        -# <!--Grid row-->
        .row
          .col-2
            %i.material-icons.md-36 fingerprint
          .col-10.mb-2.pl-3
            %h5.feature-title.font-bold.mb-1
              =t("home.index.digital_sig")
            %p.grey-text.mt-2
              =t("home.index.digital_sig_1")
      .col-xl-5.col-lg-6{"data-aos" => "fade-right", "data-aos-duration" => '1500'}
        -# <!--Grid row-->
        .row
          .col-2
            %i.fa.fa-users.fa-2x.mb-1{"aria-hidden" => "true"}
          .col-10.mb-2.pl-3
            %h5.feature-title.font-bold.mb-1
              =t("home.index.activity")
            %p.grey-text.mt-2
              =t("home.index.activity_1")
      .col-xl-5.col-lg-6{"data-aos" => "fade-left", "data-aos-duration" => '1500'}
        -# <!--Grid row-->
        .row
          .col-2
            %i.material-icons.md-36 build
          .col-10.mb-2.pl-3
            %h5.feature-title.font-bold.mb-1
              =t("home.index.report")
            %p.grey-text.mt-2
              =t("home.index.report_1")
      .col-xl-5.col-lg-6{"data-aos" => "fade-right", "data-aos-duration" => '1500'}
        -# <!--Grid row-->
        .row
          .col-2
            %i.material-icons.md-36 settings_input_antenna
          .col-10.mb-2.pl-3
            %h5.feature-title.font-bold.mb-1
              =t("home.index.follow_up")
            %p.grey-text.mt-2
              =t("home.index.follow_up_1")
      .col-xl-5.col-lg-6{"data-aos" => "fade-left", "data-aos-duration" => '1500'}
        -# <!--Grid row-->
        .row
          .col-2
            %i.material-icons.md-36 report_problem
          .col-10.mb-2.pl-3
            %h5.feature-title.font-bold.mb-1
              =t("home.index.alert_maint")
            %p.grey-text.mt-2
              =t("home.index.alert_maint_1")
