.contact-section#contact-section
  .container
    .row.d-flex.justify-content-center{"data-aos" => "zoom-in", "data-aos-duration" => '1500'}
      .col-md-6{"data-aos" => "zoom-out", "data-aos-duration" => '1500', "data-aos-delay" => "1000"}
        %h4.text-center
          %strong
            =t("home.index.demo")
        %hr
          .text-center
            = render "button_request"
