.align-center
  %h1{style: "color: red;"}
    = t("dashboard.customers.help.advise")
  %p
    = t("dashboard.customers.help.contact")
    = link_to t("customers.contact.contact"), contact_company_path, title: t("customers.contact.contact"), style: "font-weight: 900;"
