.container.text-justify.py-5
  %h4.center
    Politica para el tratamiento de Datos Personales 
  %p
    La presente política para la protección de datos personales tiene como propósito dar cumplimiento a lo establecido en la Ley 1581 de 2012, su decreto reglamentario 1377 de 2013 y demás normas concordantes que regulan el derecho constitucional de los ciudadanos a autorizar el tratamiento de sus datos personales, así como a conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellos en las bases de datos o en archivos de entidades públicas y privadas.
    Las presentes políticas y procedimientos aplican a todo dato personal registrado presencial o virtualmente, directamente o a través de terceros, en las bases de datos de ORDENAPP SAS y las empresas o entidades que hacen parte de su organización (La Compañía), con las excepciones que establece la ley, para su tratamiento (recolección, almacenamiento, uso, circulación o supresión), para que el titular del dato acceda o pueda acceder a cualquier producto, servicio, oferta, promoción, beneficio y/o vinculación soportada en una relación jurídica con La Compañía.

  %h5
    1.	Principios rectores para el tratamiento de datos personales

  %p

    La Compañía aplicará de manera armónica e integral los siguientes principios en la recolección, manejo, uso, tratamiento, almacenamiento e intercambio, de datos personales:
  
  %ol#selector{:type => "a"}
    %li Principio de Legalidad:
    %p
      El Tratamiento a que se refiere el presente documento es una actividad reglada que debe sujetarse a lo establecido en la ley y en las demás disposiciones que la desarrollen
    
    %li Principio de Finalidad: 
    %p
      El Tratamiento debe obedecer a una finalidad legítima de acuerdo con la Constitución y la Ley, la cual se determina en este mismo documento, y es informada al Titular para efectos de su autorización;
    
    %li Principio de Libertad:
    %p
      El Tratamiento sólo puede ejercerse con el consentimiento, previo, expreso e informado del Titular. Los datos personales no podrán ser obtenidos o divulgados sin previa autorización, o en ausencia de mandato legal o judicial que releve el consentimiento;
    
    %li Principio de Veracidad o Calidad:
    %p
      La información sujeta a Tratamiento debe ser veraz, completa, exacta, actualizada, comprobable y comprensible. La Compañía no hará Tratamiento de datos parciales, incompletos, fraccionados o que induzcan a error;
    
    %li Principio de Transparencia:
    %p
      En el Tratamiento de datos La Compañía garantiza el derecho del Titular a obtener del Responsable del Tratamiento o del Encargado del Tratamiento, en cualquier momento y sin restricciones, información acerca de la existencia de datos que le conciernan;
    
    %li Principio de Acceso y Circulación Restringida:
    %p
      El Tratamiento se sujeta a los límites que se derivan de la naturaleza de los datos personales, de las disposiciones de la Constitución y la ley. En este sentido, el Tratamiento sólo podrá hacerse por personas autorizadas por el Titular y/o por las personas previstas en la ley;
      Los datos personales, salvo la información pública, no podrán estar disponibles en Internet u otros medios de divulgación o comunicación masiva, salvo que el acceso sea técnicamente controlable para brindar un conocimiento restringido sólo a los Titulares o terceros autorizados conforme a la presente ley;
    
    %li Principio de Seguridad: 
    %p
      La información sujeta a Tratamiento por el Responsable del Tratamiento o Encargado del Tratamiento a que se refiere la ley, será manejada con las medidas técnicas, humanas y administrativas que sean necesarias para otorgar seguridad a los registros evitando su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento;
    
    %li Principio de Confidencialidad: 
    %p
      Todas las personas en La Compañía que intervengan en el Tratamiento de datos personales que no tengan la naturaleza de públicos, están obligadas a garantizar la reserva de la información, inclusive después de finalizada su relación con alguna de las labores que comprende el Tratamiento, pudiendo sólo realizar suministro o comunicación de datos personales si mantienen vinculación con La Compañía y cuando ello corresponda al desarrollo de las actividades autorizadas en la presente ley y en los términos de la misma.

  %h5
    2.	Responsable y Encargado Del Tratamiento De Información:
  %p
    El responsable del tratamiento de datos personales es ORDENAPP SAS
    Cuyo domicilio principal es: Calle 106 #56-62 of 501 Bogotá Colombia
    Correo Electrónico: contacto@ordenapp.co
    Teléfono: +57 1 7185402

  %h5
    3.	Tipo De Información Sometida a Nuestro Tratamiento:
  %p
    La información objeto de tratamiento por parte de ORDENAPP SAS estará constituida únicamente por los datos personales que suministran o han suministrado los titulares, como clientes, prospectos, proveedores, aliados y demás personas relacionadas con alguno(s) de nuestros productos y/o servicios, y/o con nuestra organización.
  %h5
    4.	Finalidad Del Tratamiento De Los Datos Personales Recolectados: 
  %p
    La Compañía dará confidencialidad a los datos personales suministrados por los titulares y no los entregará a terceros con fines comerciales y sin autorización e información previa al titular.
    La Compañía se reserva el derecho a utilizar la información recolectada con los fines indicados, de acuerdo a lo establecido en esta política, entre otros, para:

  %ol#selector{:type => "a"}
    %li Procesamiento y administración de sus transacciones como cliente o usuario de ORDENAPP SAS.
    %li Ofrecer a través de medios propios o conjuntamente con terceros información de nuevos lanzamientos de productos, servicios, planes, promociones, eventos y/o beneficios.
    %li Información adicional que beneficie la operación, soporte, mantenimiento, actualizaciones, garantía de nuestros productos o servicios en caso de incidentes, inconvenientes, requerimientos o fallas.
    %li Cumplir con la notificación de información de su interés cuando lo haya solicitado, incluyendo la respuesta a sus PQR y en general peticiones, dudas o cuestionamientos.
    %li Estudiar y almacenar información asociada a solicitudes de alguno de nuestros productos que como cliente o futuro cliente debemos conocer para la relación comercial.
    %li El envío de comunicaciones relacionadas con las actividades comerciales de ORDENAPP SAS, noticias e información útil para nuestra compañía, productos, ofertas, novedades, invitaciones a eventos, ofertas de empleo, propaganda, publicidad y/o encuestas sobre nuestros productos o servicios y/o los productos y servicios de nuestros socios comerciales.
    %li Tratamiento de los datos de uso de nuestros productos y/o servicios con fines estadísticos, mercadeo o análisis relacional de información.
    %li Tratamiento de los datos para fines de investigación, innovación y desarrollo de nuevos productos y/o servicios.
    %li Otras actividades relacionadas con el objeto social que necesariamente deben utilizar la información o datos personales de clientes, prospectos, proveedores, aliados y demás personas relacionadas con alguno(s) de nuestros productos y/o servicios, y/o con nuestra organización.
    %li Exportar esta información aun al exterior, en caso de que el hosting utilizado no esté localizado en Colombia, dentro de los lineamientos legales y aquellos determinados por la entidad de control
    %li Este tratamiento lo puede realizar La Compañía a través de medios físicos, electrónico, celular o dispositivo móvil, vía mensajes de texto (SMS), o a través de cualquier medio análogo y/o digital de comunicación, conocido o por conocer.
  %p
    Los titulares de datos personales almacenados en cualquiera de las bases de datos de La Compañía podrán ejercer en cualquier momento sus derechos de acceso, actualización, rectificación y supresión, frente al responsable del tratamiento de La Compañía.

  %h5  5.	Derechos De Los Titulares

  %p El Titular de los datos personales tendrá los siguientes derechos:
  %ol#selector{:type => "a"}
    %li	Conocer, actualizar y rectificar sus datos personales frente a los Responsables del Tratamiento o Encargados del Tratamiento. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo Tratamiento esté expresamente prohibido o no haya sido autorizado;
    %li	Solicitar prueba de la autorización otorgada al Responsable del Tratamiento salvo cuando expresamente se exceptúe como requisito para el Tratamiento, de conformidad con lo previsto en la ley;
    %li Ser informado por el Responsable del Tratamiento o el Encargado del Tratamiento, previa solicitud, respecto del uso que les ha dado a sus datos personales;
    %li Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la presente ley y las demás normas que la modifiquen, adicionen o complementen;
    %li Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios, derechos y garantías constitucionales y legales, en los términos de ley y de la jurisprudencia que la interpreta;
    %li Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento.
    %li El derecho de supresión no es un derecho absoluto. La Compañía puede negar o limitar el ejercicio del mismo cuando:
    %li El titular de los datos tenga el deber legal o contractual de permanecer en la base de datos.
    %li La eliminación de datos obstaculice actuaciones judiciales o administrativas vinculadas a obligaciones fiscales, la investigación y persecución de delitos o la actualización de sanciones administrativas.
    %li Los datos sean necesarios para proteger los intereses jurídicamente tutelados del titular; para realizar una acción en función del interés público, o para cumplir con una obligación legalmente adquirida por el titular.
    %li Los datos sean datos de naturaleza pública y correspondan a los registros públicos, los cuales tienen como finalidad su publicidad.
    %li Los datos constituyan un soporte para la operación normal de La Compañía y que deba ser conservada por esta en virtud de la Ley o sus procesos internos.
  %p
    Igualmente, el titular de datos personales puede revocar en cualquier momento, el consentimiento al tratamiento de éstos, siempre y cuando, no lo impida una disposición legal o contractual. En este caso puede operar de manera parcial o total.
  %h5 5.1	Autorización del Titular

  %p 
    Sin perjuicio de las excepciones previstas en la ley, en el Tratamiento se requiere la autorización previa e informada del Titular, la cual deberá ser obtenida por cualquier medio que pueda ser objeto de consulta posterior.

    Mediante autorización expresa otorgada a través de mecanismos físicos o electrónicos, entre otros telefónicamente, e mail, los dispuestos en la página web www.ordenapp.co y otros medios (Landing page), etc., el titular de la información al registrarse o indicar que autoriza el tratamiento de sus datos personales y que acepta la política incluida en el aviso de privacidad, permite a ORDENAPP SAS recolectar registrar, procesar, difundir y comercializar todos los datos e información que este de forma voluntaria suministre en el momento del registro, limitados en cada caso al tipo de vinculación o base de datos, lo que determina el tipo de información personal solicitada.

    Al dar su autorización, el titular acepta que los datos personales aportados al momento de su registro, o cualquier otro dato facilitado a La Compañía en cualquier momento, de acuerdo al tipo de vinculación o base de datos, para su acceso a algunos de los servicios, eventos, promociones, información, etc., sean utilizados con la finalidad de facilitar la relación que se establece o se pretende establecer, prestación de los servicios solicitados, para la correcta identificación de los usuarios que solicitan servicios personalizados, para la realización de estudios estadísticos de los usuarios que permitan diseñar mejoras en los servicios prestados, para la gestión de tareas básicas de administración, así como para mantenerle informado, bien por correo electrónico bien por cualquier otro medio de novedades, productos y servicios relacionados con La Compañía.

  %h5 5.2	Casos En Que No Es Necesaria La Autorización
  %p
   
    La autorización del Titular no será necesaria cuando se trate de:
  
  %ul#selector
    %li Información requerida por una entidad pública o administrativa en ejercicio de sus funciones legales o por orden judicial;
    %li Datos de naturaleza pública;
    %li Casos de urgencia médica o sanitaria;
    %li Tratamiento de información autorizado por la ley para fines históricos, estadísticos o científicos;
    %li Datos relacionados con el Registro Civil de las Personas.
    %li Quien acceda a los datos personales sin que medie autorización previa deberá en todo caso cumplir con las disposiciones contenidas en la presente ley

  %h5 5.3	Suministro De La Información
  %p
    La información solicitada podrá ser suministrada por cualquier medio, incluyendo los electrónicos, según lo requiera el Titular. La información deberá ser de fácil lectura, sin barreras técnicas que impidan su acceso y deberá corresponder en un todo a aquella que repose en la base de datos.

  %h5 5.4	Deber De Informar Al Titutal
  %p
    El Responsable del Tratamiento, al momento de solicitar al Titular la autorización, deberá informarle de manera clara y expresa lo siguiente:

  %ul#selector
    %li El Tratamiento al cual serán sometidos sus datos personales y la finalidad del mismo;
    %li El carácter facultativo de la respuesta a las preguntas que le sean hechas, cuando estas versen sobre datos sensibles o sobre los datos de las niñas, niños y adolescentes;
    %li Los derechos que le asisten como Titular;
    %li La identificación, dirección física o electrónica y teléfono del Responsable del Tratamiento.

  %p
    PARÁGRAFO. El Responsable del Tratamiento deberá conservar prueba del cumplimiento de lo previsto en el presente artículo y, cuando el Titular lo solicite, entregarle copia de esta.

  %h5 5.5	Personas A Quienes Se Les Puede Suministrar La Información

  %p
    La información que reúna las condiciones establecidas en la presente ley podrá suministrarse a las siguientes personas:
  %ul#selector
    %li A los Titulares, sus causahabientes o sus representantes legales;
    %li A las entidades públicas o administrativas en ejercicio de sus funciones legales o por orden judicial;
    %li A los terceros autorizados por el Titular o por la ley.

  %h5 5.6	Tratamiento De Los Datos Personales
  %p
    Una vez obtenida la autorización del (los) titular(es) respectivos, ORDENAPP SAS recopilará todos los datos personales del (los) titular(es) en una la base de datos electrónica correspondiente, cuya administración y guarda estará a su cargo.
    ORDENAPP SAS evitará el acceso no autorizado de terceros a los datos personales recolectados y ejecutará todas las medidas tendientes a su protección.
    ORDENAPP SAS se compromete a cumplir con su obligación de mantener en secreto los datos de carácter privado, así como su deber de tratarlos con confidencialidad, y asume las medidas de índole técnica, organizativa y de seguridad necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizado, de acuerdo con lo establecido en la ley y en los tratados internacionales suscritos por Colombia que rigen la materia.
    El Titular responderá, en cualquier caso, por la veracidad de los datos facilitados. ORDENAPP SAS podrá excluir al titular que haya suministrado datos falsos, de cualquier relación generada con base en esa información falsa, sin perjuicio de las demás acciones que procedan.

  %h5 6.	Deberes De Los Responsables Del Tratamiento

  %ul#selector
    %li De acuerdo con la Ley, son deberes de los responsables del tratamiento de datos personas, los siguientes, sin perjuicio de las demás disposiciones previstas en la ley:
    %li Garantizar al Titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas data;
    %li Solicitar y conservar, en las condiciones previstas en la ley, copia de la respectiva autorización otorgada por el Titular;
    %li Informar debidamente al Titular sobre la finalidad de la recolección y los derechos que le asisten por virtud de la autorización otorgada;
    %li Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento;
    %li Garantizar que la información que se suministre al Encargado del Tratamiento sea veraz, completa, exacta, actualizada, comprobable y comprensible;
    %li Actualizar la información, comunicando de forma oportuna al Encargado del Tratamiento, todas las novedades respecto de los datos que previamente le haya suministrado y adoptar las demás medidas necesarias para que la información suministrada a este se mantenga actualizada;
    %li Rectificar la información cuando sea incorrecta y comunicar lo pertinente al Encargado del Tratamiento;
    %li Suministrar al Encargado del Tratamiento, según el caso, únicamente datos cuyo Tratamiento esté previamente autorizado de conformidad con lo previsto en la presente ley;
    %li Exigir al Encargado del Tratamiento en todo momento, el respeto a las condiciones de seguridad y privacidad de la información del Titular;
    %li Tramitar las consultas y reclamos formulados en los términos señalados en la ley;
    %li Adoptar un manual interno de políticas y procedimientos para garantizar el adecuado cumplimiento de la ley y en especial, para la atención de consultas y reclamos;
    %li Informar al Encargado del Tratamiento cuando determinada información se encuentra en discusión por parte del Titular, una vez se haya presentado la reclamación y no haya finalizado el trámite respectivo;
    %li Informar a solicitud del Titular sobre el uso dado a sus datos;
    %li Informar a la autoridad de protección de datos cuando se presenten violaciones a los códigos de seguridad y existan riesgos en la administración de la información de los Titulares.
    %li Cumplir las instrucciones y requerimientos que imparta la Superintendencia de Industria y Comercio.
  %h5 7.	Aviso de Privacidad
  %p
    La Compañía a través de comunicación verbal o escrita generada por el Responsable, dirigida al Titular para el Tratamiento de sus datos personales, le informa acerca de la existencia de las políticas de Tratamiento de información que le serán aplicables, la forma de acceder a las mismas, las finalidades del Tratamiento que se pretende dar a los datos personales, la privacidad de esta información y, en general, le permitirá acceso a este documento para que previamente a su autorización, pueda consultarlo.
    Estos avisos los podrá ubicar fácilmente el Titular en el material publicitario, en las Landing page, en la página web, en los emails, al momento de acceder a los productos o servicios, en las facturas, en los formularios de inscripción para la recolección de datos necesarios para la contratación. 

  %h5 Pagina Web
  %p
    Los mecanismos dispuestos por el responsable para que el titular conozca la política de Tratamiento de la información y los cambios sustanciales que se produzcan en ella o en el Aviso de Privacidad correspondiente: El mecanismo dispuesto es la página Web, website de conocimiento público para todos los titulares, allí se expone la política de tratamiento de datos vigente con los cambios que se puedan genera.

