%div.container
  %h4.center
    Política de privacidad en español
  %p
    Esta política de privacidad rige para todas las aplicaciones móviles para Android creadas por Dipzoweb y publicadas en la cuenta de desarrollador con el nombre antes mencionado.

  %h5
    ¿Que tipo de información recolectamos?
  %p
    Para el correcto funcionamiento de las aplicaciones que construimos o desarrollamos, estos son algunos de los datos que recolectamos:
  %h5
    Ubicación
  %p
    Para el caso de las aplicaciones que sea necesario accedemos a los datos proporcionados por el GPS. Estos datos no los manejamos nosotros, son directamente manejado por Google Maps (nuestro proveedor de mapas).
  %h5
    Dato de registro
  %p
    Quiero informarle que cada vez que utiliza mi Servicio, en caso de un error en la aplicación, recopilo datos e información (a través de productos de terceros) en su teléfono llamados Datos de registro. Estos datos de registro pueden incluir información como la dirección del Protocolo de Internet («IP») de su dispositivo, el nombre del dispositivo, la versión del sistema operativo, la configuración de la aplicación cuando utiliza mi Servicio, la hora y la fecha de uso del Servicio y otras estadísticas.

  %h5
    Cookies
  %p
    Las cookies son archivos con una pequeña cantidad de datos que se usan comúnmente como identificadores únicos anónimos. Estos se envían a su navegador desde los sitios web que visita y se almacenan en la memoria interna de su dispositivo.
  %p
    Este servicio no utiliza estas «cookies» explícitamente. Sin embargo, la aplicación puede usar código de terceros y bibliotecas que usan «cookies» para recopilar información y mejorar sus servicios. Tiene la opción de aceptar o rechazar estas cookies y saber cuándo se envía una cookie a su dispositivo. Si elige rechazar nuestras cookies, es posible que no pueda usar algunas partes de este Servicio.

  %h5
    Proveedores de servicio
  %p
    Puedo emplear a empresas e individuos de terceros debido a las siguientes razones:
  %ul
    %li Para facilitar nuestro servicio;
    %li Para proporcionar el Servicio en nuestro nombre;
    %li Para realizar servicios relacionados con el Servicio; o
    %li Para ayudarnos a analizar cómo se utiliza nuestro Servicio.

  %p Deseo informar a los usuarios de este Servicio que estos terceros tienen acceso a su Información personal. La razón es realizar las tareas que se les asignaron en nuestro nombre. Sin embargo, están obligados a no divulgar ni utilizar la información para ningún otro propósito.

  %h5 Seguridad
  %p Valoro su confianza en proporcionarnos su información personal, por lo tanto, nos esforzamos por utilizar medios comercialmente aceptables para protegerla. Pero recuerde que ningún método de transmisión por Internet o método de almacenamiento electrónico es 100% seguro y confiable, y no puedo garantizar su seguridad absoluta.

  %h5 Enlaces a otros sitios
  %p Este servicio puede contener enlaces a otros sitios. Si hace clic en un enlace de un tercero, será dirigido a ese sitio. Tenga en cuenta que estos sitios externos no son operados por mí. Por lo tanto, le recomiendo que revise la Política de privacidad de estos sitios web. No tengo control ni asumo ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de sitios o servicios de terceros.

  %h5 Privacidad de los niños
  %p Estos Servicios no se dirigen a ninguna persona menor de 13 años. No recopilo a sabiendas información de identificación personal de niños menores de 13 años. En el caso de que descubra que un niño menor de 13 años me ha proporcionado información personal, la borro inmediatamente de nuestros servidores. Si usted es padre o tutor y sabe que su hijo nos ha proporcionado información personal, comuníquese conmigo para que pueda realizar las acciones necesarias.

  %h5 ¿Qué hacemos con los datos que recolectamos?
  %p Los datos recolectados son de dos tipos:
  %ul#selector
    %li Datos recolectados por nosotros.
    %li Datos recolectados por terceros.

  %h5 Datos recolectados por nosotros
  %p Estos datos se recolectan para obtener un feedback de que es lo que quieren nuestros usuarios y así poder mejorar brindando las correctas mejoras en cada actualización.

  %p Los datos son manipulados a nivel de código, luego procesados en grandes cantidades, pero en ningún momento accedemos a datos de un usuario en particular, pues están encriptados y solo el usuario dueño de la información puede acceder a ellos.

  %h5 Datos recolectados por terceros
  %p En los datos recolectados por terceros están:

  %ul#selector
    %li Google Play
    %li Google Analytics
    %li Firebase
    %li AWS
