.container.text-justify.py-5
  %h4.center
    Términos y Condiciones Del Contrato De Prestación Del Servicio ORDENAPP

  %p
    Bienvenido a ORDENAPP nos complace ofrecerle acceso a nuestro Servicio el cual se encuentra sujeto a los presentes términos y condiciones.
    La cual podrá consultar en nuestro sitio web (https://ORDENAPP.co/terminos-y-condiciones) Cualquier persona que desee acceder y/o usar el sitio o los servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales, junto con todas las demás políticas y principios que rigen ORDENAPP y que son incorporados al presente por referencia.
  %h5
    1.	Uso De Software
  %p
    ORDENAPP otorga el derecho de acceder y utilizar el Servicio a través del sitio web con las funciones de usuario disponibles para usted. Este derecho no es exclusivo, es intransferible, y está limitado y sujeto a lo prescrito en este documento y a sus adendas o modificaciones. Usted reconoce y acepta que es el responsable del uso del Servicio, y el responsable de todos los Usuarios Invitados. Como Suscriptor usted decidirá qué acceso o nivel de acceso (permisos) tendrán sus diferentes usuarios, y deberá asegurarse de que todas las personas que usan el aplicativo conocen, cumplen y aceptan estos términos.

    El presente Acuerdo entre el Suscriptor y ORDENAPP describe los términos de uso y los alcances, condiciones y limitaciones de los servicios de El Software, prestados bajo la modalidad “software como servicio”.

    EL USUARIO tendrá acceso al servicio en la medida que mantenga el contrato vigente y a paz y salvo. EL USUARIO reconoce haber comprendido las características y funcionalidades del aplicativo contratado y que este, siendo genérico, satisface las necesidades para las cuales suscribió el servicio pues se adecúa aceptablemente a las necesidades y procesos propios de su negocio.

  %h5
    2.	Aceptación De Términos
  %p
    Para la utilización de los servicios, EL USUARIO debe aceptar expresa o tácitamente los términos y condiciones del presente documento, pero puede cambiar en alguna actualización de este, de modo que para la utilización del servicio cada vez que se produzca una actualización de El Software, EL USUARIO debe leer, comprender y aceptar los nuevos términos y condiciones: se entenderá que EL USUARIO ha aceptado los términos de este contrato si hace uso de los servicios de cualquiera de los aplicativos o funcionalidades de ORDENAPP .

    En caso de no aceptar los términos y condiciones del servicio, EL USUARIO no debe hacer uso de los aplicativos o funcionalidades. ORDENAPP  no aceptará la modificación de estas condiciones generales, en la medida que son uniformes para todos los usuarios de los servicios. En el evento que el USUARIO no acepte las nuevas condiciones en caso que estas cambien, el USUARIO no podrá hacer uso del servicio.
    Por lo mismo, las condiciones de este documento, sus adendas o modificaciones estarán vigentes respecto de la versión de El Software habilitada al usuario. En caso de una actualización de versión o un ajuste de esta, cambio de software o de empaquetamiento, o de sistema operativo, o de plataforma, adición de módulos, funcionalidades o usuarios autorizado, es probable que estas condiciones cambien.

  %h5
    3.	Obligaciones De Las Partes
  %p
    Como USUARIO del servicio usted se obliga a:
  %ol#selector{:type => "A"}
    %li Entregar información adecuada y veraz en el momento de suscripción de los servicios.
    %li Tener la facultad de celebrar este contrato en representación de la persona jurídica o natural que utiliza los servicios.  
    %li No permitir el uso de los aplicativos o del servicio a personas distintas del USUARIO (salvo que se trate de usuarios Invitados), o a un USUARIO distinto al que adquiere el servicio, y no venderá, ni revenderá, ni arrendará los aplicativos o los servicios, ya que son para uso exclusivamente del USUARIO.
    %li Mantener actualizada la información, modificando cuando sea necesario cualquier cambio de estado de alguno de los datos proporcionados en la inscripción inicial.
    %li No entregar información que corresponda a terceros, ni entregar información inadecuada, o que afecte las disposiciones sobre datos personales, o que viole derechos de autor o de terceros, marcas u otros derechos de propiedad intelectual, convenios de confidencialidad, ni usar los servicios en actividades que tengan que ver con la explotación sexual, pornografía, proxenetismo, el turismo sexual y demás formas de abuso sexual, imágenes o videos con menores de edad, material que haga apología a la violencia, proselitismo armado o actividades de personas o grupos al margen de la ley, o que atenten contra los usos honestos. En caso contrario ORDENAPP  podrá decidir unilateralmente la terminación del servicio de manera permanente.
    %li Responsabilizarse por la clave de acceso y/o la administración de las claves que asigne y mantenerlas bajo confidencialidad y notificar a ORDENAPP de inmediato si se produce dicho acceso o uso no autorizado del servicio. Usted es responsable por todas las actividades que se realicen con su cuenta de usuario.
    %li Asegurarse de haber leído, comprendido y aceptado los términos más recientes disponibles en el sitio web o al acceder al servicio. Al registrarse para utilizar el software o el servicio, EL USUARIO reconoce que ha leído y comprendido estos términos y que tiene la autoridad para actuar en nombre de cualquier persona para la que esté utilizando el software o el servicio. En caso que el USUARIO no las acepte o las rechace expresamente, no estará obligado a contratar la nueva vigencia del servicio, pero ORDENAPP tampoco estará obligado a prestar los servicios contratados, ni a prestar servicio alguno, y la garantía solo se mantendrá vigente hasta el vencimiento del último periodo renovado.
    %li No infringir los derechos propiedad intelectual de ORDENAPP sobre las marcas, nombres y los aplicativos. En este orden de ideas, usted no podrá, a título enunciativo, más no limitativo:

    %ul#selector
      %li Intentar socavar la seguridad o la integridad de los sistemas o redes informáticos de ORDENAPP o, cuando los Servicios están alojados por un tercero, los sistemas informáticos y las redes de terceros;
      %li Utilizar los Servicios de manera que pueda afectar la funcionalidad de los mismos o el Sitio web u otros sistemas utilizados para prestar los Servicios, o afectar la capacidad de cualquier otro usuario para utilizar los Servicios o el Sitio web;
      %li Intentar obtener acceso no autorizado a ningún material que no sea el que le ha dado permiso expreso para acceder o al sistema informático en el que se alojan los Servicios.
      %li transmitir o ingresar al sitio web archivos que puedan dañar los dispositivos informáticos o software de otra persona, contenido o material o Datos en violación de cualquier ley (incluidos datos u otro material protegido por habeas data, derechos de autor o secretos comerciales) que no tiene el derecho de usar); o
      %li Intentar modificar, copiar, adaptar, reproducir, desensamblar, descompilar o aplicar ingeniería inversa a El Software o los programas informáticos utilizados para prestar los Servicios u operar el Sitio web, salvo que sea estrictamente necesario para utilizar cualquiera de ellos para el funcionamiento normal.
      %li Contar con planes de contingencia que le permitan afrontar cualquier inconveniente que se pueda presentar con la información, independientemente de que el inconveniente sea o no de la responsabilidad de ORDENAPP 
      %li Las demás que se desprendan de las anteriores o que se consignen en este documento o en cualquier adenda o modificación al mismo.
  %h5
    4.	ORDENAPP  por su parte de obliga a: 
  %ol#selector{:type => "A"}
    %li Habilitar el servicio contratado, para operar bajo la modalidad de Software como Servicio, de acuerdo al tipo de Servicio y con acceso al número limitado de usuarios expresamente facturados y cancelados por el USUARIO al momento de la suscripción del servicio.
    %li Asignar una clave genérica de acceso para el servicio, que EL USUARIO deberá modificar y administrar, así como los niveles de acceso a sus funcionarios, de forma segura para los servicios.
    %li Brindar la capacitación y servicios de seguimiento de manera virtual sobre la utilización de ORDENAPP . 
    %li Hacer permanentemente monitoreo en la red, sistemas y elementos de comunicación y trabajo del aplicativo, para efectos del servicio, de la medición de la usabilidad del mismo y/o con fines estadísticos o para efectos internos.
    %li Brindar a los usuarios activos y a paz y salvo servicios de soporte, mantenimiento y garantía de manera virtual, sobre El Software y sobre el Servicio.
  %h5 
    5.	Exclusiones O Limitaciones
  %ol#selector{:type => "A"}
    %li Además de todas aquellas otras circunstancias que se definen en el texto de este documento, sus adendas y modificaciones, ORDENAPP  excluye del servicio o de sus responsabilidades lo siguiente:
    %li ORDENAPP  no brinda servicios presenciales. Todos los servicios que se brindan son virtuales o remotos, a través de los distintos canales de comunicación que provee a LOS USUARIOS y de la conexión de internet con que cuenta EL USUARIO.
    %li ORDENAPP no da soporte, ni asesoría en redes, sistemas operacionales, internet, hardware y/o software distinto a los aplicativos.  
    %li ORDENAPP provee un servicio idóneo y de calidad, pero la responsabilidad con el ingreso, administración, interpretación o uso de la información es del USUARIO, así como la administración de claves de usuarios, los sistemas operativos, la red, las aplicaciones o el(los) software desarrollado(s) por terceros que puedan interactuar o no con ORDENAPP, las bases de datos, el hardware, la conexión a internet y en general los equipos o software del USUARIO. EL USUARIO dispone de herramientas y funcionalidades en El Software que debe usar o administrar bajo sus propios criterios, sin hacer responsable a ORDENAPP  por el uso, el no uso, o el abuso que le den sus propios usuarios a aquellas o a la información almacenada en El Software. En algunos casos los usuarios deberán correr procesos paralelos, de verificación o complementarios en herramientas distintas al El Software para validar o incorporar el resultado en el mismo.

  %h5
    6.	Uso Del Servicio Y Marcas
  %p
    Al contratar el servicio usted adquiere el derecho de uso del mismo a título personal o de su organización, según sea el caso. El uso de logos, nombres y marcas de ORDENAPP. o de terceros, involucradas en el servicio o links a los portales de ORDENAPP queda totalmente restringido. Ni usted ni ningún tercero podrá hacer uso de ellos sin previa autorización expresa y por escrito del titular legítimo de las mismas.
  %h5
    7.	Garantia
  %ul#selector
    %li Sobre el entendido que ningún servicio, software o aplicativo de computador es infalible, ni está 100% libre de defectos, ORDENAPP otorga una garantía de funcionamiento sobre el servicio y sobre El Software, que da derecho al USUARIO a la corrección de errores e inconvenientes que se presenten con relación al servicio y al aplicativo contratado por el USUARIO.
    %li Por defectos se entenderán todos los errores del servicio y fallos reproducibles posibles que se den en el aplicativo y todos los fallos sustanciales de los mismos para funcionar de la manera descrita en la documentación correspondiente y que no tengan que ver con circunstancias externas al software o al manejo del usuario. En estos casos el USUARIO comunicará inmediatamente a ORDENAPP la existencia de un error, junto con toda la información del diagnóstico, entorno operativo y demás que resulte relevante relacionada con el error, a fin de permitir a ORDENAPP identificar, aislar y reproducir el error para su corrección.

  %p
    Dentro de la garantía ORDENAPP se compromete a:
  %ul#selector
    %li Efectuar las reparaciones adecuadas y oportunas en caso de fallas del aplicativo que el usuario haya contratado por EL USUARIO.
    %li Tramitar y responder en forma diligente, las quejas, peticiones, reclamaciones y recursos presentados por el usuario.
    %li En general, realizar las actividades adecuadas para el desarrollo exitoso del presente contrato, desde su órbita de competencia.


  %h5 
    8.	Condiciones De La Garantia
  %p  
    Para la efectividad de la garantía el USUARIO deberá cumplir con las siguientes condiciones:
  %ol#selector{:type => "A"}
    %li No alterar ni ingresar al aplicativo objeto del servicio contratado, por medios diferentes a los propios del sistema o a los realizados directamente por ORDENAPP, ni dañar ni alterar sus archivos de datos.
    %li Mantener en buen estado de funcionamiento el equipo de cómputo (hardware) para acceder al aplicativo y tener un buen rendimiento (performance) de los equipos, sistemas, internet, etc., para la correcta conectividad y/o para evitar daños de los archivos de datos ingresados al aplicativo.
    %li Mantener vigente y a paz y salvo el contrato.
    %li Mantener una conexión de internet de banda ancha que permita una buena conectividad con el aplicativo
    %li No violar los derechos de autor sobre el aplicativo adquirido o sobre los sistemas operativos necesarios para su uso.
    %li No incumplir las demás condiciones del Servicio aquí definidos, o en sus adendas o modificaciones, en cuanto afecten o puedan afectar el Servicio, así como cualquier otro evento previsto como exclusión de garantía del Software o del Servicio.
    %li En caso de incumplimiento total o parcial de lo previsto en este numeral, ORDENAPP puede dar por terminada la garantía y no estará obligado a prestar ningún servicio.

  %p
    En desarrollo de la garantía sobre el servicio ORDENAPP declara que:
  %ul#selector
    %li
      No modificaremos sus datos.
    %li 
      Tendremos acceso a estadísticas básicas de uso del servicio de los aplicativos, así como al conteo de variables del sistema y toda la información pertinente para obtener información de usabilidad y de almacenamiento.

  %h5
    9.	Disponibilidad
  %p
    ORDENAPP . y sus asociados proveen sus servicios utilizando tecnologías y procedimientos de alta calidad que permiten entregar unos estándares de talla mundial para los mismos. Como parte del acuerdo de los servicios suscritos y pagos, usted recibirá una disponibilidad de 99.0%, entendiéndose esta disponibilidad como el tiempo que el servicio estará habilitado para el uso general por parte de los usuarios.
    Son excluidos del cálculo de disponibilidad y de cualquier tipo de garantía los tiempos en que el sistema este por fuera de línea debido a:

  %ul#selector
    %li Suspensiones por fuerza mayor o que hayan sido planeadas e informadas con antelación;
    %li Factores ajenos al control de ORDENAPP o sus asociados;
    %li Fallas en su hardware, software, servicio de internet, equipos o canal de comunicaciones;
    %li Acciones de sus empleados o terceros con su cuenta de acceso y clave, que generen alguna indisponibilidad del servicio.
    %li Acciones de hackers, malware, virus, cookies, virus defectuosos, etc.;
    %li Una mala configuración por su parte del servicio al no seguir las instrucciones provistas por ORDENAPP .
    %li Interrupciones planificadas (que notificaremos en lo posible con por lo menos 8 horas de anticipación a través de los servicios adquiridos), para realizar labores de mantenimiento, actualización y/o soporte de los aplicativos o de los servicios, en lo posible en horas de la noche o de poco tráfico o días no hábiles;

  %h5
    10.	Mantenimiento Y Soporte 
  %p
    Se Brindará mantenimiento sobre los aplicativos y soporte sobre estos y sobre los servicios adquiridos, en vigencia del periodo contratado, sin costo adicional. Brindará en caso de ser adquirido por el usuario, horas de acompañamiento virtual en las que el usuario decide el plan de capacitación e implementación a seguir en la puesta en marcha de los aplicativos adquiridos, con cargo al usuario de acuerdo a las tarifas vigentes. Los terceros habilitados para ofrecer soporte funcional podrán prestar dichos servicios a los clientes de manera independiente, pero en ningún momento podrán hacer actualizaciones o intervenciones en los aplicativos, y de todas maneras ORDENAPP no asume responsabilidad alguna por los mismos ni por la legalidad de las aplicaciones que usen.

    Todos los servicios que ofrece ORDENAPP se brindan dentro de los horarios del call center (lunes a viernes hábiles de 8:30 a.m. a 5:30 pm), de manera virtual o remota.

  %h5
    11.	Actualizaciones
  %p
    No se obliga a hacer actualizaciones, o mejoras sobre los aplicativos, de manera que el servicio se prestará dentro de los alcances y limitaciones que ofrece actualmente. Las sugerencias que usted haga serán tenidas en cuenta, pero no obligan a ORDENAPP  a adoptarlas. Los cambios de ley, en cuanto apliquen a la generalidad de USUARIOS podrán incorporarse a los aplicativos, pero dentro de los plazos que defina ORDENAPP  según sus planes de desarrollo de software genérico.

  %h5
    12.	Condiciones De La Transmisión De Datos 
  %p
    En virtud del presente contrato y a la normativa aplicable, el USUARIO, en calidad de Responsable del tratamiento, transmitirá datos personales a ORDENAPP quien, para efectos de esos datos personales, actuará como Encargado del tratamiento. El alcance de la operación de transmisión será el cumplimiento de este contrato y las obligaciones legales y contractuales que resulten a partir de la relación que existe entre el USUARIO y ORDENAPP. Las actividades que realizará el Encargado por cuenta del Responsable serán:

  %ul#selector
    %li Aquellas dispuestas en este contrato.
    %li Cumplir con gestiones administrativas, operativas, comerciales, técnicas a cargo del ORDENAPP  sobre los Datos Personales del Responsable que están a cargo del Encargado.
    %li Operaciones necesarias para el cumplimiento de cualquier otra finalidad relacionada con el objeto o las obligaciones establecidas para las partes. 
    %li Para el cumplimiento de obligaciones legales que pudiesen ocasionarse en virtud de la relación entre las partes.

  %h5
    PARÁGRAFO PRIMERO - ORDENAPP  
  %p 
    Está obligado frente al titular y el Responsable de cumplir con sus obligaciones como Encargado del tratamiento, definidas en la Ley 1581 de 2012 y normas complementarias. Así mismo, el Encargado se comprometerá a dar aplicación a las obligaciones que resulten aplicables de acuerdo con la Política de Tratamiento de la información fijada por el Responsable, situación que está sujeta a que el Responsable entregue al Encargado copia de dicha Política. El Encargado se compromete a realizar el Tratamiento de datos de acuerdo con la finalidad que los Titulares hayan autorizado, cuando aplique, y con las leyes aplicables.
  %h5  
    PARÁGRAFO SEGUNDO. – ORDENAPP 
  %p 
    Se compromete a dar Tratamiento, a nombre del Responsable, a los datos personales conforme a los principios que los tutelan y salvaguardar la seguridad de las bases de datos en los que se contengan datos personales.
  %h5 
    PARÁGRAFO TERCERO.
  %p 
    El Usuario se comprometerá a: 
    
    %ul#selector
      %li Haber obtenido, cuando hubiese lugar para ello, autorización de los titulares para el tratamiento de sus datos personales de acuerdo a los requisitos exigidos por la normativa aplicable.
      %li Garantizar a los Titulares, mediante los mecanismos dispuestos legalmente para tal fin, el ejercicio de los derechos que les corresponden como Titulares de Datos Personales.
      %li Informar al Encargado de cualquier evento que pudiese afectar la operación de tratamiento a la que se refiere el presente contrato. 
      %li Actualizar en el Software los datos personales que sean objeto de tratamiento, o en su defecto informar de forma oportuna al Encargado de cualquier cambio o ajuste que deba hacerse sobre la información contenida en las bases de datos necesarias para ejecutar el presente contrato. 
      %li Cumplir y acatar en su integridad las respectivas obligaciones de acuerdo al mencionado rol de Responsable conforme a la Ley 1581.

