

.es-wrapper-color
  /[if gte mso 9]
  %table.es-wrapper{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tbody
      %tr
        %td.esd-email-paddings{:valign => "top"}
          %table.es-content.esd-header-popover{:align => "center", :cellpadding => "0", :cellspacing => "0"}
            %tbody
              %tr
                %td.es-adaptive.esd-stripe{:align => "center"}
                  %table.es-content-body{:align => "center", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                    %tbody
                      %tr
                        %td.esd-structure.esdev-adapt-off{:align => "left"}
                          %table.esdev-mso-table{:cellpadding => "0", :cellspacing => "0", :width => "600"}
                            %tbody
                              %tr
                                %td.esdev-mso-td
                                  %table.es-left{:align => "left", :cellpadding => "0", :cellspacing => "0"}
                                    %tbody
                                      %tr
                                        %td.es-m-p0r.es-m-p20b.esd-container-frame{:align => "center", :width => "200"}
                                          %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                            %tbody
                                              %tr
                                                %td.esd-block-spacer.es-p10b{:align => "center", :style => "font-size:0"}
                                                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "100%"}
                                                    %tbody
                                                      %tr
                                                        %td{:style => "border-bottom: 4px solid #023d84; background: none 0% 0% repeat scroll rgba(0, 0, 0, 0); height: 1px; width: 100%; margin: 0px;"}
                                %td.esdev-mso-td
                                  %table.es-left{:align => "left", :cellpadding => "0", :cellspacing => "0"}
                                    %tbody
                                      %tr
                                        %td.es-m-p20b.esd-container-frame{:align => "center", :width => "200"}
                                          %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                            %tbody
                                              %tr
                                                %td.esd-block-spacer.es-p10b{:align => "center", :style => "font-size:0"}
                                                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "100%"}
                                                    %tbody
                                                      %tr
                                                        %td{:style => "border-bottom: 4px solid #bbd400; background: none 0% 0% repeat scroll rgba(0, 0, 0, 0); height: 1px; width: 100%; margin: 0px;"}
                                %td.esdev-mso-td{:valign => "top"}
                                  %table.es-right{:align => "right", :cellpadding => "0", :cellspacing => "0"}
                                    %tbody
                                      %tr
                                        %td.esd-container-frame{:align => "center", :width => "200"}
                                          %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                            %tbody
                                              %tr
                                                %td.esd-block-spacer.es-p10b{:align => "center", :style => "font-size:0"}
                                                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "100%"}
                                                    %tbody
                                                      %tr
                                                        %td{:style => "border-bottom: 4px solid #01a6c2; background: none 0% 0% repeat scroll rgba(0, 0, 0, 0); height: 1px; width: 100%; margin: 0px;"}
                      %tr
                        %td.esd-structure.es-p20r.es-p20l{:align => "left"}
                          %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                            %tbody
                              %tr
                                %td.esd-container-frame{:align => "center", :valign => "top", :width => "560"}
                                  %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                    %tbody
                                      %tr
                                        %td.esd-block-image{:align => "center", :style => "font-size: 0px;"}
                                          = image_tag("https://#{ENV['S3_BUCKET_NAME']}.s3.amazonaws.com/ordenapp_logo.png" , :style => "display: block;", :class => "clase-logo", :alt => "", :height => "172", :href => "https://ordenapp.co", :target => "_blank")
