.row.flex-box-center
  .col.s12.m10.force_margin
    .card.card-cascade.narrower.pt-0.light-1
      .view.view-cascade.gradient-card-header.gradient-blue.narrower.py-3.mx-4.d-flex.justify-content-between.align-items-center
        = link_to admins_subsidiaries_path, role: "button", class: "btn btn-outline-white btn-rounded btn-sm px-2", title: t('base.forms.back') do
          %i.fas.fa-chevron-left
        %h3.center.mt-2
          %strong
            = @subsidiary.name
        = link_to admins_subsidiaries_path, role: "button", class: "btn btn-outline-white btn-rounded btn-sm px-2 disabled hidden", title: t('base.forms.back') do
          %i.fas.fa-chevron-left
      .card.py-0
        .card-body
          = render 'form', controller: 'subsidiaries', corporation: @subsidiary, action: 'update', method: :put
