.inactive_admin{
  background-color: #F0F0F0 !important;
  pointer-events: none;
}

/*********NEW SUBSIDIARY FORM MOBILE***************/
@media (max-width: 575px) {
    #subsidiary_form > .row > div:last-child > div:first-child.md-form {
    margin-top: 0;
  }
}
#subsidiary_form,
#admin_subsidiary_form {
  .badge {
    font-size: 85%;
    letter-spacing: 0.6px;
    margin: 1rem 0 0;
    padding: 0.4rem .6rem;
  }
  .ovf-visible {
    margin: auto;
    //height: 18rem;
    width: 18rem;
  }
  .form__submit {
    border: none;
    color: white;
    margin-left: 0 !important;
    outline: none;
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    text-transform: capitalize;
  }
}

/*********EDIT SUBSIDIARY FORM MOBILE***************/
@media (max-width: 575px) {
  #edit_user > .row > div:last-child > div:first-child.md-form {
  margin-top: 0;
  }
  // #edit_user > .row > div:first-child > div:last-child.md-form {
  //   margin-bottom: 0;
  // }
  // #edit_user > .row.justify-content-center > div:last-child {
  //   margin-top: 1.5rem !important;
  //   width: auto;
  // }
}

/*********SUBSIDIARIES INDEX***********/
#corporation-table_length .form-control {
  width: 50px;
}
